#
# Copyright 2021,2023 NXP
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_FLEXSPI_CONFIG_BLOCK_OFFSET=0x400
CONFIG_PINCTRL=y
CONFIG_SDIO_STACK=y
#CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_NXP_IMXRT_BOOT_HEADER=y

# Enable USB Stack (needed for the console to work)
#CONFIG_USB_DEVICE_STACK=y
CONFIG_SHELL=y
CONFIG_ETH_NXP_ENET_1G=y
CONFIG_BT_NXP_NW612=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_USB_DEVICE_VID=0x2341
CONFIG_USB_DEVICE_PID=0x0075

#CONFIG_TEST_RANDOM_GENERATOR=y

CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_INIT_PRIORITY=50
CONFIG_ETH_INIT_PRIORITY=83
CONFIG_MDIO_INIT_PRIORITY=81
CONFIG_PHY_INIT_PRIORITY=82
CONFIG_PHY_LOG_LEVEL_DBG=y
CONFIG_NET_SHELL=y

CONFIG_TICKLESS_KERNEL=n

CONFIG_MAIN_STACK_SIZE=32768

CONFIG_BT_RX_STACK_SIZE=8192
CONFIG_BT_HCI_TX_STACK_SIZE=8192
CONFIG_BT_BUF_ACL_RX_COUNT_EXTRA=3
CONFIG_BT_MAX_CONN=3

CONFIG_LOG=y
#CONFIG_EARLY_CONSOLE=y
#CONFIG_LOG_MODE_IMMEDIATE=y
#CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_BT_HCI_DRIVER_LOG_LEVEL_INF=y
#CONFIG_BT_LOG_LEVEL_DBG=y
#CONFIG_BT_HCI_CORE_LOG_LEVEL_DBG=y
