/*
 * Copyright 2021-22, NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nxp/nxp_rt11xx_cm7.dtsi>
#include "arduino_plin.dtsi"

/ {
	model = "Arduino Plin board";
	compatible = "nxp,mimxrt1176";

	aliases {
		mipi-dsi = &mipi_dsi;
		watchdog0 = &wdog1;
	};

	chosen {
		/* zephyr,sram = &sdram0; */
		zephyr,sram = &ocram;
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
		zephyr,console = &lpuart3;
		zephyr,shell-uart = &lpuart3;
		zephyr,canbus = &flexcan3;
		zephyr,flash-controller = &gd25b128;
		zephyr,flash = &gd25b128;
		zephyr,code-partition = &slot0_partition;
		zephyr,cpu1-region = &ocram;
		zephyr,ipc = &mailbox_a;
		zephyr,bt-hci = &bt_hci_uart;
		zephyr,entropy = &rng_hci;
	};

	sdram0: memory@80000000 {
		/* GigaDevice GD25BI128 */
		device_type = "memory";
		reg = <0x80000000 DT_SIZE_M(16)>;
	};

	rng_hci: entropy_bt_hci {
		compatible = "zephyr,bt-hci-entropy";
		status = "okay";
	};

	/* This regulator controls the VDD_3V3_ENET supply. */
	reg-3v3-enet {
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-enet";
		enable-gpios = <&gpio11 12 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		regulator-always-on;
		status = "okay";
	};

	/*
	 * This node describes the GPIO pins of the MIPI FPC interface,
	 * J48 on the EVK. This interface is standard to several
	 * NXP EVKs, and is used with several MIPI displays
	 * (available as zephyr shields)
	 */
	nxp_mipi_connector: mipi-connector {
		compatible = "gpio-nexus";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map =	<0  0 &gpio9 29 0>,	/* Pin 1, LEDK */
				<21 0 &gpio9 1  0>,	/* Pin 21, RESET */
				<22 0 &gpio9 4  0>,	/* Pin 22, LPTE */
				<26 0 &gpio6 4  0>,	/* Pin 26, CTP_I2C SDA */
				<27 0 &gpio6 5  0>,	/* Pin 27, CTP_I2C SCL */
				<28 0 &gpio9 0  0>,	/* Pin 28, CTP_RST */
				<29 0 &gpio2 31 0>,	/* Pin 29, CTP_INT */
				<32 0 &gpio11 16 0>,	/* Pin 32, PWR_EN */
				<34 0 &gpio9 29 0>;	/* Pin 34, BL_PWM */
	};
};

zephyr_lcdif: &lcdif {};

zephyr_mipi_dsi: &mipi_dsi {
	dphy-ref-frequency = <24000000>;
};

&lpuart3 {
	status = "okay";
	current-speed = <115200>;
};

&flexcan3 {
	status = "okay";
	bus-speed = <125000>;

	can-transceiver {
		max-bitrate = <5000000>;
	};
};

nxp_mipi_i2c: &lpi2c5 {
	pinctrl-0 = <&pinmux_lpi2c5>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
};

&lpadc0 {
	status = "okay";
};

&edma0 {
	status = "okay";
};

/* GPT and Systick are enabled. If power management is enabled, the GPT
 * timer will be used instead of systick, as allows the core clock to
 * be gated.
 */
&gpt_hw_timer {
	status = "okay";
};

&systick {
	status = "okay";
};

&wdog1 {
	status = "okay";
};

&sai1 {
	status = "okay";
};

zephyr_udc0: &usb1 {
	status = "okay";
	phy_handle = <&usbphy1>;
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&usbphy1 {
	status = "okay";
	tx-d-cal = <7>;
	tx-cal-45-dp-ohms = <6>;
	tx-cal-45-dm-ohms = <6>;
};

&enet1g {
	status = "okay";
};

&enet1g_mac {
	status = "okay";
};

&enet1g_mdio {
	status = "okay";
	enet1g_phy: phy@1 {
		status = "okay";
	};
};

&enet1g_ptp_clock {
	status = "okay";
};

&mailbox_a {
	status = "okay";
};

&lpuart8 {
	pinctrl-0 = <&pinmux_lpuart8>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;

	bt_hci_uart: bt_hci_uart {
		compatible = "zephyr,bt-hci-uart";

		bt_module {
			compatible = "nxp,bt-hci-uart";
			sdio-reset-gpios = <&gpio3 6 GPIO_ACTIVE_HIGH>;
			w-disable-gpios = <&gpio3 6 GPIO_ACTIVE_HIGH>;
			hci-operation-speed = <115200>;
			hw-flow-control;
			fw-download-primary-speed = <115200>;
		};
	};
};
