# Copyright 2021,2023 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_ARDUINO_PLIN
	select SOC_PART_NUMBER_MIMXRT1176DVMAA
	select SOC_MIMXRT1176_CM7 if BOARD_ARDUINO_PLIN_MIMXRT1176_CM7
	select SOC_MIMXRT1176_CM4 if BOARD_ARDUINO_PLIN_MIMXRT1176_CM4
