
# SPDX-License-Identifier: Apache-2.0

# enable uart driver
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USB_DEVICE_STACK_NEXT=y
CONFIG_USBD_CDC_ACM_CLASS=y

CONFIG_WIFI_ST67W611M1=y
CONFIG_MODEM_CONTEXT_VERBOSE_DEBUG=y
CONFIG_MODEM_LOG_LEVEL_DBG=y
CONFIG_LOG=y
CONFIG_LOG_MODE_IMMEDIATE=y

CONFIG_SPI_LOG_LEVEL_WRN=y
CONFIG_FS_LOG_LEVEL_DBG=y

CONFIG_FS_SAMPLE_CREATE_SOME_ENTRIES=y

# Arduino format FAT volumes using a 4096 bytes sector size.
CONFIG_FS_FATFS_MAX_SS=4096

CONFIG_DISK_LOG_LEVEL_DBG=y
CONFIG_SD_LOG_LEVEL_DBG=y

CONFIG_SPI_STM32_INTERRUPT=y
#CONFIG_SPI_STM32_DMA=y